<window>
    <defaultcontrol>100</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <backgroundcolor>0</backgroundcolor>
    <controls>
        <include>CommonSettingsItems</include>
        <include>SettingsHeader</include>
        
        <control type="group">
            <include>FullscreenDimensions</include>
            <include>OptionsShutdownAnimation</include>

            <animation type="WindowClose">
                <effect type="fade" start="100" end="0" time="300" tween="sine" easing="out" />
                <effect type="zoom" start="100" end="85" time="300" center="960,600" tween="sine" easing="out" />
            </animation>
            
            <control type="image">
                <description>Shadow</description>
                <posx>0</posx>
                <posy>870</posy>
                <width>1920</width>
                <height>150</height>
                <texture>windows/home/item-shadow.png</texture>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="750" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" />
                    <effect type="zoom" start="90" end="100" center="316,547" tween="cubic" easing="out" time="400" />
                </animation>
            </control>
            
            <control type="group">
                <posx>190</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="750" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" />
                    <effect type="zoom" start="90" end="100" center="316,547" tween="cubic" easing="out" time="400" />
                </animation>
                <control type="group">
                    <description>Appearance settings</description>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(100)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[480]</label>
                        </control>
                    </control>
                    <control type="button" id="100">
                        <include>SettingsButtonVars</include>
                        <onleft>110</onleft>
                        <onright>102</onright>
                        <onup>101</onup>
                        <ondown>101</ondown>
                        <onclick>ActivateWindow(appearancesettings)</onclick>
                        <texturefocus>windows/home/icons/appearance.png</texturefocus>
                        <texturenofocus>windows/home/icons/appearance.png</texturenofocus>
                    </control>
                </control>
                <control type="group">
                    <description>Service settings</description>
                    <posy>289</posy>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(101)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[14036]</label>
                        </control>
                    </control>
                    <control type="button" id="101">
                        <include>SettingsButtonVars</include>
                        <onleft>111</onleft>
                        <onright>103</onright>
                        <onup>100</onup>
                        <ondown>100</ondown>
                        <onclick>ActivateWindow(servicesettings)</onclick>
                        <texturefocus>windows/home/icons/network.png</texturefocus>
                        <texturenofocus>windows/home/icons/network.png</texturenofocus>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>442</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="670" delay="80" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="80" />
                    <effect type="zoom" start="87" end="100" center="568,547" tween="cubic" easing="out" time="400" delay="80" />
                </animation>
                <control type="group">
                    <description>Video settings</description>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(102)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[157]</label>
                        </control>
                    </control>
                    <control type="button" id="102">
                        <include>SettingsButtonVars</include>
                        <onleft>100</onleft>
                        <onright>104</onright>
                        <onup>103</onup>
                        <ondown>103</ondown>
                        <onclick>ActivateWindow(videossettings)</onclick>
                        <texturefocus>windows/home/icons/video.png</texturefocus>
                        <texturenofocus>windows/home/icons/video.png</texturenofocus>
                    </control>
                </control>
                <control type="group">
                    <description>Profile settings</description>
                    <posy>289</posy>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(103)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[13200]</label>
                        </control>
                    </control>
                    <control type="button" id="103">
                        <include>SettingsButtonVars</include>
                        <onleft>101</onleft>
                        <onright>105</onright>
                        <onup>102</onup>
                        <ondown>102</ondown>
                        <onclick>ActivateWindow(profiles)</onclick>
                        <texturefocus>windows/home/icons/profiles.png</texturefocus>
                        <texturenofocus>windows/home/icons/profiles.png</texturenofocus>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>694</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="620" delay="130" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="130" />
                    <effect type="zoom" start="84" end="100" center="820,547" tween="cubic" easing="out" time="400" delay="130" />
                </animation>
                <control type="group">
                    <description>Music settings</description>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(104)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[2]</label>
                        </control>
                    </control>
                    <control type="button" id="104">
                        <include>SettingsButtonVars</include>
                        <onleft>102</onleft>
                        <onright>106</onright>
                        <onup>105</onup>
                        <ondown>105</ondown>
                        <onclick>ActivateWindow(musicsettings)</onclick>
                        <texturefocus>windows/home/icons/music.png</texturefocus>
                        <texturenofocus>windows/home/icons/music.png</texturenofocus>
                    </control>
                </control>
                <control type="group">
                    <description>Add-on settings</description>
                    <posy>289</posy>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(105)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[24001]</label>
                        </control>
                    </control>
                    <control type="button" id="105">
                        <include>SettingsButtonVars</include>
                        <onleft>103</onleft>
                        <onright>107</onright>
                        <onup>104</onup>
                        <ondown>104</ondown>
                        <onclick>ActivateWindow(addonbrowser)</onclick>
                        <texturefocus>windows/home/icons/addons.png</texturefocus>
                        <texturenofocus>windows/home/icons/addons.png</texturenofocus>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>946</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="585" delay="165" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="165" />
                    <effect type="zoom" start="81" end="100" center="1072,547" tween="cubic" easing="out" time="400" delay="165" />
                </animation>
                <control type="group">
                    <description>Picture settings</description>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(106)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[1]</label>
                        </control>
                    </control>
                    <control type="button" id="106">
                        <include>SettingsButtonVars</include>
                        <onleft>104</onleft>
                        <onright>108</onright>
                        <onup>107</onup>
                        <ondown>107</ondown>
                        <onclick>ActivateWindow(picturessettings)</onclick>
                        <texturefocus>windows/home/icons/pictures.png</texturefocus>
                        <texturenofocus>windows/home/icons/pictures.png</texturenofocus>
                    </control>
                </control>
                <control type="group">
                    <description>Skin settings</description>
                    <posy>289</posy>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(107)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[166]</label>
                        </control>
                    </control>
                    <control type="button" id="107">
                        <include>SettingsButtonVars</include>
                        <onleft>105</onleft>
                        <onright>109</onright>
                        <onup>106</onup>
                        <ondown>106</ondown>
                        <onclick>ActivateWindow(skinsettings)</onclick>
                        <texturefocus>windows/home/icons/skin.png</texturefocus>
                        <texturenofocus>windows/home/icons/skin.png</texturenofocus>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>1198</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="563" delay="187" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="187" />
                    <effect type="zoom" start="78" end="100" center="1324,547" tween="cubic" easing="out" time="400" delay="187" />
                </animation>
                <control type="group">
                    <description>TV settings</description>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(108)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[41220]</label>
                        </control>
                    </control>
                    <control type="button" id="108">
                        <include>SettingsButtonVars</include>
                        <onleft>106</onleft>
                        <onright>110</onright>
                        <onup>109</onup>
                        <ondown>109</ondown>
                        <onclick>ActivateWindow(pvrsettings)</onclick>
                        <texturefocus>windows/home/icons/tvshows.png</texturefocus>
                        <texturenofocus>windows/home/icons/tvshows.png</texturenofocus>
                    </control>
                </control>
                <control type="group">
                    <description>System settings</description>
                    <posy>289</posy>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(109)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[13000]</label>
                        </control>
                    </control>
                    <control type="button" id="109">
                        <include>SettingsButtonVars</include>
                        <onleft>107</onleft>
                        <onright>111</onright>
                        <onup>108</onup>
                        <ondown>108</ondown>
                        <onclick>ActivateWindow(systemsettings)</onclick>
                        <texturefocus>windows/home/icons/system.png</texturefocus>
                        <texturenofocus>windows/home/icons/system.png</texturenofocus>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>1450</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="550" delay="200" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="200" />
                    <effect type="zoom" start="75" end="100" center="1576,547" tween="cubic" easing="out" time="400" delay="200" />
                </animation>
                <control type="group">
                    <description>Weather settings</description>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(110)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[8]</label>
                        </control>
                    </control>
                    <control type="button" id="110">
                        <include>SettingsButtonVars</include>
                        <onleft>108</onleft>
                        <onright>100</onright>
                        <onup>111</onup>
                        <ondown>111</ondown>
                        <onclick>ActivateWindow(weathersettings)</onclick>
                        <texturefocus>windows/home/icons/weather.png</texturefocus>
                        <texturenofocus>windows/home/icons/weather.png</texturenofocus>
                    </control>
                </control>
                <control type="group">
                    <description>System info</description>
                    <posy>289</posy>
                    <control type="group">
                        <animation effect="fade" start="100" end="90" time="200" tween="sine" easing="inout" condition="!Control.HasFocus(111)">Conditional</animation>
                        <include>SettingsButtonBackground</include>
                        <control type="label">
                            <include>SettingsLabelVars</include>
                            <label>$LOCALIZE[130]</label>
                        </control>
                    </control>
                    <control type="button" id="111">
                        <include>SettingsButtonVars</include>
                        <onleft>109</onleft>
                        <onright>101</onright>
                        <onup>110</onup>
                        <ondown>110</ondown>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                        <texturefocus>windows/home/icons/sysinfo.png</texturefocus>
                        <texturenofocus>windows/home/icons/sysinfo.png</texturenofocus>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>190</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="750" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" />
                    <effect type="zoom" start="90" end="100" center="316,547" tween="cubic" easing="out" time="400" />
                </animation>
                <control type="image">
                    <include>SettingsFocusImageVars</include>
                    <visible>Control.HasFocus(100)</visible>
                </control>
                <control type="group">
                    <posy>289</posy>
                    <control type="image">
                        <include>SettingsFocusImageVars</include>
                        <visible>Control.HasFocus(101)</visible>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>442</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="670" delay="80" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="80" />
                    <effect type="zoom" start="87" end="100" center="568,547" tween="cubic" easing="out" time="400" delay="80" />
                </animation>
                <control type="image">
                    <include>SettingsFocusImageVars</include>
                    <visible>Control.HasFocus(102)</visible>
                </control>
                <control type="group">
                    <posy>289</posy>
                    <control type="image">
                        <include>SettingsFocusImageVars</include>
                        <visible>Control.HasFocus(103)</visible>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>694</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="620" delay="130" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="130" />
                    <effect type="zoom" start="84" end="100" center="820,547" tween="cubic" easing="out" time="400" delay="130" />
                </animation>
                <control type="image">
                    <include>SettingsFocusImageVars</include>
                    <visible>Control.HasFocus(104)</visible>
                </control>
                <control type="group">
                    <posy>289</posy>
                    <control type="image">
                        <include>SettingsFocusImageVars</include>
                        <visible>Control.HasFocus(105)</visible>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>946</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="585" delay="165" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="165" />
                    <effect type="zoom" start="81" end="100" center="1072,547" tween="cubic" easing="out" time="400" delay="165" />
                </animation>
                <control type="image">
                    <include>SettingsFocusImageVars</include>
                    <visible>Control.HasFocus(106)</visible>
                </control>
                <control type="group">
                    <posy>289</posy>
                    <control type="image">
                        <include>SettingsFocusImageVars</include>
                        <visible>Control.HasFocus(107)</visible>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>1198</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="563" delay="187" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="187" />
                    <effect type="zoom" start="78" end="100" center="1324,547" tween="cubic" easing="out" time="400" delay="187" />
                </animation>
                <control type="image">
                    <include>SettingsFocusImageVars</include>
                    <visible>Control.HasFocus(108)</visible>
                </control>
                <control type="group">
                    <posy>289</posy>
                    <control type="image">
                        <include>SettingsFocusImageVars</include>
                        <visible>Control.HasFocus(109)</visible>
                    </control>
                </control>
            </control>
            
            <control type="group">
                <posx>1450</posx>
                <posy>295</posy>
                <animation type="WindowOpen">
                    <effect type="slide" start="200" end="0" tween="cubic" easing="out" time="550" delay="200" />
                    <effect type="fade" start="0" end="100" tween="sine" easing="inout" time="300" delay="200" />
                    <effect type="zoom" start="75" end="100" center="1576,547" tween="cubic" easing="out" time="400" delay="200" />
                </animation>
                <control type="image">
                    <include>SettingsFocusImageVars</include>
                    <visible>Control.HasFocus(110)</visible>
                </control>
                <control type="group">
                    <posy>289</posy>
                    <control type="image">
                        <include>SettingsFocusImageVars</include>
                        <visible>Control.HasFocus(111)</visible>
                    </control>
                </control>
            </control>
            
        </control>
        <include>FadeBackground</include>
        <include>Common-Info-NoOptions</include>
    </controls>
</window>